## Exercise 1: Write a function to sort the list based on the first letter of the second element

lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [12]:
import numpy as np
import pandas as pd
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print(sorted(lst,key=lambda x:x[1]))

[(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Exercise 2:  Write a function to sort the list based on the last letter of the second element

Use list from previous question

In [53]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
def last_letter(word):
    k=word[1]
    return k[-1]
print(sorted(lst,key=last_letter))

[(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

Original list [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list [(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

## Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

In [96]:
lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]
lst2=np.arange(1,8)
lst4=[()]
for i,j in zip(lst1,lst2):
    lst4.append((i,j))
lst4.pop(0)    
print(lst4)

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

In [88]:
print(tuple(lst1))

('Energy', 'Agriculture', 'Industry', 'Technology', 'Finance', 'Forestry', 'Transport')

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

## Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).

lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

In [150]:
def cnt(word):
    cnt1=0
    for i in word:
        if 'a' in i or 'A' in i:
            cnt1+=1
    return(cnt1)
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
print(list(map(cnt,lst1)))

[3, 2, 3, 3, 3, 3, 3]

[3, 2, 3, 3, 3, 3, 3]

## Exercise 5: Write a function filter all the vowels in a given string using filter.

str1="Inceptz is one of the best institutes to read data science in chennai"

In [120]:
str1="Inceptz is one of the best institutes to read data science in chennai"
vowels = ['a','e','i','o','u','A','E','I','O','U']

l1=[i for i in str1 for j in vowels if j in i]
print(l1)

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

## Exercise 6:  Write a function to create a list as the square of elements from the given list if the square is greater than 60

lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

In [138]:
lst1=[5,6,7,8,9,10,12,14]
l1=[i*i for i in lst1 if (i*i) > 60 ]
print(l1)

[64, 81, 100, 144, 196]

[64, 81, 100, 144, 196]

## Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence
Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best

In [137]:
lst=['Inceptz','provides','the','best','inclass','trainings','and','is','the','best']
l1=''.join((map(lambda x:x+' ',lst)))
print(l1)
from functools import reduce
l2=reduce(lambda x,y:x+' '+y,lst)
print(l2)

Inceptz provides the best inclass trainings and is the best
Inceptz provides the best inclass trainings and is the best